/* .ads-sub-sub .head-sub h2::after {
    font-family: "fontAwesome";
    content: "\f061";
    color: var(--first-color);
    position: absolute;
    right: -0;
    font-size: 25px;
    cursor: pointer;
  } */