/* Start Global Rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  ul {
    list-style-type: none;
  }
  li {
    list-style-type: none;
  }
  a {
    text-decoration: none;
  }
  html {
    scroll-behavior: smooth;
  }
  body {
    font-family: "Cairo", sans-serif;
  }
  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* Small Screen */
  @media (min-width: 768px) {
    .container {
      width: 750px;
    }
  }
  /* Meduim Screen */
  @media (min-width: 992px) {
    .container {
      width: 970px;
    }
  }
  /* Large Screen */
  @media (min-width: 1200px) {
    .container {
      width: 1170px;
    }
  }
  /* End Global Rules */
/* Start Sale Section */
.sale-section {
    position: relative;
    height: 700px;
    margin-top: 10px;
    width: 100%;
    background-color: #eee;
}
.sale-sub {
    position: relative;
    top: 40px;
    width: 50%;
    overflow: scroll;
    /* text-align: left; */
    margin: 0 auto;
    padding: 20px;
    border: 1px solid rgb(211, 206, 206);
    box-shadow: 1px 1px 7px ;
    border-radius: 10px;
    background-color: #fff;
    height: 500px;
}
.sale-sub-head {
  display: flex;
  align-items: center;
  position: relative;
}
.sale-sub h2 {
    padding: 20px;
    color: var(--second-color);
    margin-left: 20px;
    margin-right: 20px;
    /* text-align: left; */
}
.fa-arrow-left {
  position: absolute;
  top: 20px;
  color: var(--first-color);
  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  left: 0;
}
.fa-arrow-right {
  position: absolute;
  top: 20px;
  color: var(--first-color);
  font-size: 28px;
  cursor: pointer;
  font-weight: bold;
  right: 0;
}
input.sale-search {
    width: 90%;
    padding: 13px;
    border-radius: 6px;
    border: 2px solid var(--secondry-color);
    caret-color: #0f748f;
}
input.sale-search:focus {
    outline: none;
    height: 55px;
}
input.sale-search::placeholder {
  position: relative;
  left: 30px;
  font-size: 18px;
}
.sale-image {
    text-align: left;
    padding: 20px;
}
.sale-image img {
    width: 60px;
}
.sale-image p {
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
}
.sale-image li:not(:last-child) {
    cursor: pointer;
    border-bottom:  1px solid rgb(223, 219, 219);
}
.sale-image li a{
    padding: 10px;
    display: flex;
    align-items: center;
    color:var(--text-color);
}
/* End Sale Section */
/* Start Car Type */
.sale-image-ul-hyundai {
  display: none;
}
.sale-image-ul-kia {
  display: none;
}
.sale-image-ul-bmw {
  display: none;
}
.sale-image-ul-nissan {
  display: none;
}
.sale-image-ul-toyota {
  display: none;
}
/* End Car Type */